.cover {
    background-color: white;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    scale: 0;
    /* display: none; */
    transition: all .5s ease-in-out;
}

.cover.open {
    /* display: block; */
    z-index: 1;
    scale: 1;
    transform: translateX(0);
}