.container {
    padding-left: min(103px, 5%);
    padding-right: min(123px, 5%);

    padding-top: 61px;
}

.heading {
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;

}

.content {
    display: flex;
    /* justify-content: space-between; */
    gap: 53px;
    margin-bottom: 181px;
    position: relative;
}



.imageWrap {
    width: 100%;
    margin: auto 0;
    max-width: 250px;

}

@media screen and (max-width: 768px) {

    .imageWrap {
        display: none;
    }

}