.container {


    background-color: #D9D9D933;

    padding-bottom: 54px;


}


.button {
    width: 220px;
    height: 62px;
    background: #A41034;
    border: 2px solid #A41034;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto
}

.buttonText {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}