.container {
    /* padding-left: min(103px, 5%);
    padding-right: min(123px, 5%); */

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 61px;
}

.eventsContainer {
    padding-top: 57px;
    padding-bottom: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 57px;
}